.advocate{
    padding-top: 20px;
    text-align: center;
    h2{
        font-family: $font-primary;
    }
    h3{
        font-family: $font-primary;
    }
    h4{
        font-family: $font-primary;
    }
    img{
        border-radius: 50%;
        height: 150px;
        object-fit: cover;
        
    }
    p{
        font-family: $font-secondary;
        font-size: 14px;
        padding: 0 15px;
        text-align: left;
    }
}