.advocate{
    background-color: #006dff;
    color: white;
    padding-bottom: 40px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    h2{
        font-family: $font-primary;
    }
    h2:before{
        background-color: #006dff;
        border: solid white 2px;
        border-radius: 50%;
        color: white;
        content: "\e90e";
        font-family: $font-icon;
        font-size: 40px;
        font-weight: 100;
        padding: 5px;
        position: absolute;
        right: 15px;
        top: -30px;
    }
    h3{
        font-family: $font-primary;
    }
    h4{
        font-family: $font-primary;
    }
    img{
        border-radius: 50%;
        height: 150px;
        object-fit: cover;
        
    }
    p{
        font-family: $font-secondary;
        font-size: 14px;
        padding: 0 15px;
        text-align: left;
    }
}