.collab{
    background-color: #006dff;
    color: white;
    padding-bottom: 40px;
    padding-top: 10px;
    position: relative;
    h2{
        font-family: $font-primary;
        text-align: center;
    }
    h2:before{
        background-color: #006dff;
        border: solid white 2px;
        border-radius: 50%;
        color: white;
        content: "\e915";
        font-family: $font-icon;
        font-size: 40px;
        font-weight: 100;
        padding: 5px;
        position: absolute;
        right: 15px;
        top: -30px;
    }
    &__slider{
        font-family: $font-secondary;
        margin: 0 auto;
        width: 85%;
        &--element{
            text-align: center;
            img{
                border-radius: 50%;
                height:320px;
                object-fit: cover;
                width: 320px;
            }
            h3{
                font-size: 16px;
                text-align: center;
            }
            p{
                font-size: 14px;
            }
        }
    }
}
@include mq-min(md){
    .collab{
        margin-top: 50px;
        h2:before{
            right: 45px;
        }
        &__slider{
            &--element{
                img{
                    height: 250px;
                    margin: 0 auto;
                    width: 250px;
                }
                p{
                    margin: 0 auto;
                    width: 80%;
                }
            }
        }
    }   
}
@include mq-min(md){
    .collab{
        &__slider{
            width: 90%;
            &--element{
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
}