.coordinator{
    padding-top: 10px;
    padding-bottom: 60px;
    position: relative;
    text-align: center;
    h2{
        font-family: $font-primary;
    }
    h2:before{
        background-color: #006dff;
        border: solid white 2px;
        border-radius: 50%;
        color: white;
        content: "\e92d";
        font-family: $font-icon;
        font-size: 40px;
        font-weight: 100;
        left: 15px;
        padding: 5px;
        position: absolute;
        top: -28px;
    }
    img{
        border-radius: 50%;
        height: 300px;
        object-fit: cover;
    }
    h3{
        font-family: $font-secondary;
        font-size: 16px;
        margin: 0 0 12px 0;
        padding:20px 20px 0 20px;
    }
    p{
        font-family: $font-secondary;
        font-size: 14px;
        margin: 0;
        padding: 0 10px;
    }
}