.coverage{
    padding-top: 10px;
    padding-bottom: 60px;
    position: relative;
    text-align: center;
    h2{
        font-family: $font-primary;
    }
    h2:before{
        background-color: #006dff;
        border: solid white 2px;
        border-radius: 50%;
        color: white;
        content: "\e907";
        font-family: $font-icon;
        font-size: 40px;
        font-weight: 100;
        left: 15px;
        padding: 5px;
        position: absolute;
        top: -30px;
    }
    p{
        font-family: $font-secondary;
        font-size: 14px;
        padding: 0 15px;
        text-align: left;
    }
}