.directory{
    background-image: url(../../images/background.png);
    background-repeat: repeat;
    padding-bottom: 60px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    h2{
        font-family: $font-primary;
        margin: 20px 0 0 0;
    }
    h2:before{
        background-color: #006dff;
        border: solid white 2px;
        border-radius: 50%;
        color: white;
        content: "\e91b";
        font-family: $font-icon;
        font-size: 40px;
        font-weight: 100;
        left: 15px;
        padding: 5px;
        position: absolute;
        top: -30px;
    }
    h3{
        font-family: $font-primary;
    }
    &__container{
        &--comercial{
            padding-top: 10px;
            div{
                img{
                    height: auto;
                    width: 90%;
                }
            }
        }
        &--institutional{
            padding-top: 10px;
            div{
                img{
                    height: auto;
                    padding-bottom: 12px;
                    width: 90%;
                }
            }
        }
        &--turistic{
            padding-top: 10px;
            div{
                img{
                    height: auto;
                    width: 90%;
                }
            }
        }
    }
}
@include mq-min(md){
    .directory{
        h2:before{
            left: 45px;
        }
        &__container{
            margin: 0 auto;
            width: 80%;
        }
    }
}