.footer{
    background-color: #006dff;
    color: white;
    padding: 10px 0 40px 0;
    position: relative;
    h2{
        font-family: $font-primary;    
        text-align: center;
    }
    h2:before{
        background-color: #006dff;
        border: solid white 2px;
        border-radius: 50%;
        color: white;
        content: "\e92c";
        font-family: $font-icon;
        font-size: 40px;
        font-weight: 100;
        padding: 5px;
        position: absolute;
        right: 15px;
        top: -30px;
    }
    &__elements{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        a{
            align-items: center;
            color: white;
            display: flex;
            font-family: $font-secondary;
            text-decoration: none;
        }
        a:before{
            font-family: $font-icon;
        }
        &--whatsapp{
            display: flex;
            flex-direction: row;
            margin-right: 20px;
            a:before{
                color: white;
                content: "\e902";
                font-size: 20px;
            }
        }
        &--email{
            margin-top: 10px;
            a:before{
                color: black;
                content: "\e903";
                font-size: 20px;
                margin-right: 10px;
            }
        }
        &--facebook{
            margin-top: 10px;
            a:before{
                color: white;
                content: "\e900";
                font-size: 24px;
                margin-right: 10px;
            }
        }
    }
}
@include mq-min(md){
    .footer{
        h2:before{
            right: 45px;
        }
    }
}
@include mq-min(xl){
    .footer{
        &__elements{
            flex-direction: row;
            font-size: 18px;
            justify-content: space-around;
            margin: 0 auto;
            padding-left: 0;
            width: 90%;
            &--whatsapp{
                flex-direction: column;
            }
        }
    }
}

