body{
    background-color: #CAE1FF;
    margin: 0px;
}
.header{
    background-color: #006dff;
    display: flex;
    flex-direction: row-reverse;
    height: 60px;
    &__player{
        iframe{
            background-color: red !important;
            border: none;
            display: none;
            font-size: 10px !important;
            height: 60px;
            width: 320px;
        }
    }
}
@include mq-min(xl){
    .header{
        height: 72px;
    }
}
