.sponsor{
    background-color: #006dff;
    padding-top: 1px;
    padding-bottom: 60px;
    text-align: center;
    h2{
        color: white;
        font-family: $font-primary;
        position: relative;
        z-index: 2;
    }
    h2:before{
        background-color: #006dff;
        border: solid white 2px;
        border-radius: 50%;
        color: white;
        content: "\e91e";
        font-family: $font-icon;
        font-size: 40px;
        font-weight: 100;
        padding: 5px;
        position: absolute;
        right: 15px;
        top: -50px;
    }
    &__content{
        height: auto;
        width: 100%;
        video{
            border-radius: 5px;
            height: auto;
            width: 90%;
        }
        iframe{
            border-radius: 5px;
            height: auto;
            margin-top: 20px;
            width: 90%;
        }
        img{
            border-radius: 5px;
            margin-top: 20px;
            height: auto;
            width: 90%;
        }
    }
}
@include mq-min(md){
    .sponsor{
        h2:before{
            right: 45px;
        }
        &__content{
            iframe{
                height: 380px;
                width: 648px;
            }
        }
    }
}
@include mq-min(xl){
    .sponsor{
        &__content{
            video{
                width: 85%;
            }
            iframe{
                height: 450px;
                width: 870px;
            }
            img{
                width: 85%;
            }
        }
    }
}