.town{
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
        font-family: $font-primary;
    }
    &__elements{
        &--image{
            display: flex;
            justify-content: center;
            img{
                border-radius: 5px;
                width: 94%;
            }
        }
        &--text{
            display: flex;
            justify-content: center;
            p{
                width: 94%;
                font-family: $font-terciary;
            }
        }
    }
}
@include mq-min(md){
    .town{
        &__elements{
            display: flex;
            flex-direction: row-reverse;
            &--text{
                width: 70%;
            }
        }
    }
}
@include mq-min(xl){
    .town{
        margin-top: 80px;
        &__elements{
            &--image{
                padding-left: 20px;
            }
            flex-direction: row;
            &--text{
                width: 65%;
            }
        }
    }
}